[submodule "themes/minos"]
	path = themes/minos
	url = https://github.com/carsonip/hugo-theme-minos.git
[submodule "content/UndergraduateProjects"]
	path = content/projects
	url = https://github.com/jiegec/UndergraduateProjects.git
