<!DOCTYPE html>
<html>

  {% include head.html %}
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <p style="text-align:center"><img src="http://p0.ifengimg.com/fck/2017_25/ce9ac61f402f9b7_w700_h932.jpg" width="175" height="233"></p>

    {% include footer.html %}

  </body>

</html>
