<!DOCTYPE html>
<html>

  {% include head.html %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <div style="text-align:center">在文末，让我们膜一下2017安徽理科状元申奥大佬吧：</div>
    <p style="text-align:center"><img src="https://p0.ifengimg.com/fck/2017_25/ce9ac61f402f9b7_w700_h932.jpg" width="175" height="233"></p>

    {% include footer.html %}

  </body>

</html>
